.card-image {
  width: 100px !important;
  overflow: hidden;

  img {
    height: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
    clip: rect(0px, 100px, 200px, 0px);
    position: absolute !important;;
  }
}
